<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD9nG7arf4YZZ6pqJVuMscpODYIn-em9Gk</string>
	<key>GCM_SENDER_ID</key>
	<string>496120101636</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.orderTracking</string>
	<key>PROJECT_ID</key>
	<string>order-tracking-d95df</string>
	<key>STORAGE_BUCKET</key>
	<string>order-tracking-d95df.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:496120101636:ios:df14538c902cf1fe826e51</string>
</dict>
</plist>